server:
  port: 8080
spring:
  application:
    name: reggie_take_out
  datasource:
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
#      driver-class-name: com.mysql.jdbc.Driver
      url: jdbc:mysql://localhost:3305/reggie?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
#      url: jdbc:mysql://localhost:3306/reggie?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
      username: root
      password: 123456
#      password: DaShenLxx1215....
#      password: root

#   解决结果时间和数据库时间不一致问题，也可以在实体类上加上注解@JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")，但是这样每个实体类都要加上注解，不太方便，但是二者并不冲突
#    jackson:
#      date-format: yyyy-MM-dd HH:mm:ss
#      time-zone: GMT+8
#       serialization:
#        #格式化输出
#         indent_output: true
#        #忽略无法转换的对象
#         fail_on_empty_beans: false

mybatis-plus:
  configuration:
    #在映射实体或者属性时，将数据库中表名和字段名中的下划线去掉，按照驼峰命名法映射
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: ASSIGN_ID  #默认的ID生成策略为雪花算法生成UUID
#指定上传文件转存的路径
reggie:
#  path: /usr/src/img/
   path: E:/img/






